# General file types
*.aux
*.bbl
*.blg
*.c
*.cprof
*.cpython*
*.csv
*.dat
*.fits
*.gz
*.html
*.log
*.lprof
*.mp4
*.npy
*.ods
*.out
*.pdf
*.png
*.pyc
*.swp
*.tar
*.toc
*.xmf
*.zip
*.*#
*~

# Misc
*tmp*
*debug*
test_arcticpy/*test*.txt
